.PostListItem {
    /* border: solid 1px #a200ff; */
    border-radius: 2rem;
    min-width: 742px;
    width: 50%;
    margin: 2rem auto;
    height: auto;
    background-color: #303338;
    padding: 1.2rem;
    font-size: 15px;
  }
  
  .PostListItem__Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .ProfileInfo {
    display: flex;
    align-items: center;
  }
  
  .ProfileInfo img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }
  
  .NameDate {
    margin-left: 5px;
  }
  
  .NameDate h3 {
    font-size: 20px;
    color: white;
  }
  
  .NameDate h4 {
    font-size: 10px;
    color: #818181;
  }
  
  /* .Options {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    transition: all ease-in-out 0.1s;
  }
  
  .Options:hover {
    background-color: #ffffff42;
  } */
  
  .c-dropdown {
    display: flex;
    list-style: none;
    margin: 0;
    position: relative;
    padding: 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  
  .c-dropdown:hover {
    background-color: #ffffff42;
  }
  
  .c-dropdown:hover > .c-dropdown__submenu {
    transform: translateX(-50%) rotateX(0);
    opacity: 1;
  }
  
  .c-dropdown__submenu {
    border-radius: 10px;
    background-color: #303338;
    border: solid 1px #ffffff42;
    list-style: none;
    margin: 0;
    padding: 10px;
    width: 100px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) rotateX(-90deg);
    transform-origin: top center;
    opacity: 0.25;
    top: calc(100% + 10px);
    transition: all ease-in-out 125ms;
    display: block;
    justify-content: flex-start;
  }
  
  .c-dropdown__submenu-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 3px;
  }
  
  .c-dropdown__submenu-link {
    color: white;
    text-decoration: none;
  }
  
  .c-dropdown__submenu-link:hover {
    text-decoration: underline;
  }
  
  ul img {
    width: 15px;
    height: 15px;
    position: relative;
  }
  
  hr {
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    height: 1px;
    border: none;
    background-image: linear-gradient(
      to right,
      transparent,
      #575757,
      transparent
    );
  }
  
  .PostListItem__Main {
    font-family: Arial;
    font-weight: 400;
    margin-top: 1.5%;
    padding: 0 3%;
    font-size: 17px;
  }
  
  .PostListItem__Main span {
    color: white;
  }
  
  .PostListItem__Footer {
    margin-top: 1.5%;
    display: flex;
    justify-content: flex-end;
  }
  
  /* .LikeAndDislike__true {
    background: none;
    border: none;
    cursor: pointer;
    transition: ease-in-out all 0.1s;
    background-color: red;
  }
  
  .LikeAndDislike__false {
    background: none;
    border: none;
    cursor: pointer;
    transition: ease-in-out all 0.1s;
    background-color: blue;
  } */
  
  .LikeAndDislike:hover {
    transform: scale(1.1);
  }
  
  .LikeAndDislike {
    background: none;
    border: none;
    color: #818181;
    cursor: pointer;
  }
  
  .PostListItem__Footer img {
    width: 30px;
    height: 32px;
  }
  